:root {
  font-size: 36px;
  --wheat: rgb(245,222,179);
  --gold: rgb(255,215,0);
  background-image: url(./images/2681677.jpg);
}


h1, footer{
  color: var(--wheat)
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25% 25% 25% 25%);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1/5;
  grid-row: 1;
  color: var(--wheat)
}

.two {
  grid-column: 1;
  grid-row: 2;
  background-color: blue;
}
.three {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--wheat);
}
.four {
  grid-column: 3;
  grid-row: 2;
  background-color: yellow;
}
.five {
  grid-column: 4;
  grid-row: 2;
  background-color: red;
}
.six {
  grid-column: 1/3;
  grid-row: 3/6;
}
.seven {
  margin: 0 auto;
  grid-column: 3/5;
  grid-row: 3/6;
  color: var(--gold);
}
.eight {
  grid-column: 1;
  grid-row: 6;
  background-color: hotpink;
}
.nine {
  grid-column: 1/3;
  grid-row: 6/9;
  background-color: purple
}
.ten {
  grid-column: 3/5;
  grid-row: 6/9;
  background-color: brown;
}

a {
  text-decoration: none; 
  color: red
}

a:link {
  color:red;
}

a:hover {
  color: var(--wheat);
}

