:root {
  font-size: 36px;
  --wheat: rgb(245, 222, 179);
  --gold: rgb(255, 215, 0);
  background-image: url(./images/2681677.jpg);
}

h1,
footer {
  color: wheat;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25% 25% 25% 25%);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1/5;
  grid-row: 1;
  color: var(--wheat);
}
.two {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  background-color: var(--gold);
}
.three {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2;
  background-color: var(--wheat);
}
.four {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  grid-row: 2;
  background-color: var(--gold);
}
.five {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4;
  grid-row: 2;
  background-color: var(--wheat);
}
.six, .form {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 4/10;
  color: black;
}

input[type="text"] {
  height: 40px;
  width: 25%;
}

a {
  text-decoration: none;
  color: red;
}

a:link {
  color: red;
}

a:hover {
  color: greenyellow;
}
